<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<div  class="inline-menu-container style3 showx">
  <ul class="inline-menu">
      <li class="about menu-item" [ngClass]="{'active': menu=='about'}" (click)="menu='about'">Resume</li>
      <li class="portfolio menu-item" [ngClass]="{'active': menu=='portafolio'}" (click)="menu='portafolio'">Portfolio</li>
      <li class="blog menu-item" [ngClass]="{'active': menu=='blog'}" (click)="menu='blog'">Blog</li>
      <li class="contact menu-item" [ngClass]="{'active': menu=='contacto'}" (click)="menu='contacto'">Contact</li>
  </ul>
</div>
<section class="home">
  <div class="container">
      <div class="name-block reverse" style="background: url(/../../assets/images/bg/img-bg3.jpg); background-size: cover">
          <div class="overlay opacity3"></div>
          <div class="name-block-container reverse">
              <h1><span>Hola, soy</span>Juan Cruz Rey</h1>
              <h2>UX & Developer</h2>
              <a target="_blank" href="www.google.com" class="btn btn-download">Download cv</a>
              <ul class="social">
                  <li><a href=""><i class="ion-social-facebook"></i></a></li>
                  <li><a href=""><i class="ion-social-twitter"></i></a></li>
                  <li><a href=""><i class="ion-social-googleplus"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="content-blocks about"   [ngClass]="{'showx': menu=='about'}" >
          <app-about></app-about>
      </div>
      <div class="content-blocks portfolio"   [ngClass]="{'showx': menu=='portafolio'}" >
          <app-portafolio></app-portafolio>
      </div>
      <div class="content-blocks blog"    [ngClass]="{'showx': menu=='blog'}" >
          <app-blog></app-blog>
      </div>
      <div class="content-blocks contact"    [ngClass]="{'showx': menu=='contacto'}" >
          <app-contacto></app-contacto>
      </div>
      <div class="content-blocks pop">
          <div id="close-pop" class="close-pop">Close <i class="ion-ios-close-empty"></i></div>
          <section class="content"></section>
      </div>
  </div>
</section>
